<dl style="padding-top: 9px;">
  <dt style="font-weight:normal;font-size:12px;">Title</dt> 
  <dd style="font-size:20px;"><%= @submission.bib["title"] %></dd>

  <dt style="font-weight:normal;font-size:12px;">Author/Artist</dt> 
  <dd style="font-size:20px;"><%= @submission.bib["author"] %></dd>
</dl>

<!-- <a href="https://catalog.princeton.edu/catalog/<%= @submission.bib["id"] %>" target="_blank">View Full Record in Catalog</a>-->