<center class="body-content">
  <div class="covid-pickup" style="font-size:20px; padding: 18px 0;font-weight:bold;line-height:125%;">When Coming to the Library to View your Item</div>

  <table width="100%" cellpadding="9" class="responsive-table">
                
    <tr>
      <td valign="top" width="25%" height="90" class="responsive-column-container">
        <table border="0" cellpadding="10" cellspacing="0" width="100%">
          <tr>
            <td style="background-color:#f6f6f6;border-top-style:solid;border-top-width:3px;border-top-color:#e77500;font-weight:bold" class="covid-guideline" height="70" valign="top">
              Book your appointment
            </td>
          </tr>
        </table>
      </td>
      <td valign="top" width="25%" height="90" class="responsive-column-container">
        <table border="0" cellpadding="10" cellspacing="0" width="100%">
          <tr>
            <td style="background-color:#f6f6f6;border-top-style:solid;border-top-width:3px;border-top-color:#e77500;font-weight:bold;" class="covid-guideline" height="70" valign="top">
              Retrieve your item at the circulation desk.
            </td>
          </tr>
        </table>
      </td>
      <td valign="top" width="25%" height="90" class="responsive-column-container">
        <table border="0" cellpadding="10" cellspacing="0" width="100%">
          <tr>
            <td style="background-color:#f6f6f6;border-top-style:solid;border-top-width:3px;border-top-color:#e77500;font-weight:bold;" class="covid-guideline" height="70" valign="top">
              Wear a mask or face covering
            </td>
          </tr>
        </table>
      </td>
      <td valign="top" width="25%" height="90" class="responsive-column-container">
        <table border="0" cellpadding="10" cellspacing="0" width="100%">
          <tr>
            <td style="background-color:#f6f6f6;border-top-style:solid;border-top-width:3px;border-top-color:#e77500;font-weight:bold;" class="covid-guideline" height="70" valign="top">
              Follow social distancing guidelines
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <div style="margin:18px 0;"><a href="https://library.princeton.edu/news/general/2020-05-27/pul-social-protocols" target="_blank" style="border-style:solid;border-width:2px;border-color:#e77500;text-align:center;padding: 9px 18px;display: inline-block;font-weight:bold;" class="button-a">Please follow social protocols</a></div>
</center>

<p class="body-content">Kindly note the following book care protocol: Please do not use disinfectant or cleaning product on books which can cause damage. Library materials are handled by staff wearing face coverings, and all returned Library materials have been quarantined before circulation.</p> 

<p class="body-content">Please plan to limit your number of trips to the Library. We appreciate your help in our efforts to slow the spread of Covid-19.</p>

<p class="body-content">Sincere thanks.</p>