<center class="body-content">
  <div class="covid-pick-up" style="font-size:20px; padding: 18px 0;font-weight:bold;line-height:125%;">When Coming to the Library to View your Item</div>

  <table width="100%" cellpadding="9" class="responsive-table">             
    <tr>
      <td valign="top" width="25%" height="90" class="responsive-column-container">
        <table border="0" cellpadding="10" cellspacing="0" width="100%">
          <tr>
            <td style="background-color:#f6f6f6;border-top-style:solid;border-top-width:3px;border-top-color:#e77500;font-weight:bold;" class="covid-guideline" height="70" valign="top">
              Retrieve your item at the circulation desk.
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  </center>