<h2 style="margin-bottom: 18px;font-weight:normal;font-size:16px;">Items Requested</h2>
<%# TODO: Display only index, barcode, pickup %>
<table style="width: 100%;">
<% @submission.items.each_with_index do |item, index| %>
  <!--<tr><td>Item <%= index+1 %></td></tr>-->
  <tr>
    <% unless item[:selected].empty? %>
      <% recalled = (item[:type] == "recall") ? true : false %></td>
      <td class="items-column" style="border: 1px solid #ccc; padding: 18px;">
        <% item.each do |key, value| %>
          <% unless key == "selected" || value.empty? %>
          <!--<dl style="width:33%;float:left;">
            <dt style="font-weight:normal;font-size:12px;"><%= format_label(key) %></dt> 
            <dd><% if key == "pickup" && !recalled %><%= Requests::BibdataService.delivery_locations[value]['label'].html_safe %>,<% end %> <%= value.html_safe %></dd>
          </dl>-->
    
        <% end %>
      <% end %>
      <table style="width:100%">
            <tr>
              <!--<td style="width:25px">1</td>-->
              <td>
                <span style="font-weight:normal;font-size:12px;display:block;">Barcode</span>
                <span>32101094523535</span>
              </td>
              <td>
                <span style="font-weight:normal;font-size:12px;display:block;">Pickup</span>
                <span>Firestone Library, PA</span>
              </td>
            </tr>
          </table>
      </td>
    <% end %>
  </tr>
<% end %>

</table>
