<% # temporary changes issue 438 %>

<tr style="background-color: rgb(245, 245, 245);">
  <td style="padding: 18px;">
    <%= render 'request_header' %>
  </td>
</tr>

<tr>
  <td colspan="2" style="padding: 18px;">
    <%= render 'bib_info' %>
  </td>
</tr>

<tr>
  <td colspan="2" style="padding: 0 18px;">
    <%= render 'item_info' %>
  </td>
</tr>

<tr height="18px">
  <td>&nbsp;</td>
</tr>