<tr>
  <td colspan="2" style="padding: 18px;">
    <h1 style="line-height:125%;">Remote Service Request Error</h1>

    <p class="body-content"><%= I18n.t('requests.error.service_error_conf_msg') %></p>
    <%= render 'service_errors' %>
  </td>
</tr>