---
http_interactions:
- request:
    method: get
    uri: https://bibdata.princeton.edu/locations/holding_locations/f.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"250b12294d5b9710e9827751c996ca99"
    body:
      encoding: UTF-8
      string: '{"label":"","code":"f","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":false,"always_requestable":false,"circulates":true,"library":{"label":"Firestone
        Library","code":"firestone","order":1},"holding_library":null,"hours_location":{"label":"Firestone
        Library - Building and Circulation/Reserves Hours","code":"firestone"},"delivery_locations":[{"label":"Firestone
        Library","address":"One Washington Rd. Princeton, NJ 08544","phone_number":"609-258-1470","contact_email":"fstcirc@princeton.edu","gfa_pickup":"PA","staff_only":false,"pickup_location":true,"digital_location":true}]}'
  recorded_at: Wed, 18 Mar 2020 20:13:46 GMT
- request:
    method: get
    uri: https://bibdata.princeton.edu/locations/holding_locations/c.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"36424b67bf9d8cf7afbd86fc55d51a7b"
    body:
      encoding: UTF-8
      string: '{"label":"","code":"c","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":false,"always_requestable":false,"circulates":true,"library":{"label":"East
        Asian Library","code":"eastasian","order":2},"holding_library":null,"hours_location":{"label":"East
        Asian Library","code":"eastasian"},"delivery_locations":[]}'
  recorded_at: Wed, 18 Mar 2020 20:13:47 GMT
- request:
    method: get
    uri: https://bibdata-alma-staging.princeton.edu/locations/holding_locations/c.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"status":404,"error":"Not Found"}'
  recorded_at: Wed, 12 May 2021 03:13:05 GMT
- request:
    method: get
    uri: https://bibdata-alma-staging.princeton.edu/locations/holding_locations/f.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"status":404,"error":"Not Found"}'
  recorded_at: Wed, 12 May 2021 03:13:06 GMT
recorded_with: VCR 6.0.0
