---
http_interactions:
- request:
    method: get
    uri: https://bibdata-alma-staging.princeton.edu/locations/holding_locations/c.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"status":404,"error":"Not Found"}'
  recorded_at: Thu, 13 May 2021 02:38:00 GMT
- request:
    method: get
    uri: https://bibdata-alma-staging.princeton.edu/locations/holding_locations/f.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: '{"status":404,"error":"Not Found"}'
  recorded_at: Thu, 13 May 2021 02:38:00 GMT
- request:
    method: get
    uri: https://bibdata-alma-staging.princeton.edu/locations/holding_locations/eastasian$cjk.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"5561d277dbc00afef409015e34a16b32"
    body:
      encoding: UTF-8
      string: '{"label":"East Asian Library (Gest)","code":"eastasian$cjk","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","library":{"label":"East
        Asian Library","code":"eastasian","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[]}'
  recorded_at: Sun, 16 May 2021 02:38:25 GMT
- request:
    method: get
    uri: https://bibdata-alma-staging.princeton.edu/locations/holding_locations/firestone$stacks.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2076b9061eb9f7f5fc8d6b9cd11d00a0"
    body:
      encoding: UTF-8
      string: '{"label":"Stacks","code":"firestone$stacks","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":"","library":{"label":"Firestone
        Library","code":"firestone","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Firestone
        Library","address":"One Washington Rd. Princeton, NJ 08544","phone_number":"609-258-1470","contact_email":"fstcirc@princeton.edu","gfa_pickup":"PA","staff_only":false,"pickup_location":true,"digital_location":true}]}'
  recorded_at: Sun, 16 May 2021 02:38:26 GMT
recorded_with: VCR 6.0.0
