---
http_interactions:
- request:
    method: get
    uri: https://bibdata.princeton.edu/locations/holding_locations/f.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"1c714b39527cf4e5879bcc7824294043"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"label":"","code":"f","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":false,"always_requestable":false,"circulates":true,"library":{"label":"Firestone
        Library","code":"firestone","order":1},"holding_library":null,"hours_location":{"label":"Firestone
        Library - Building and Circulation/Reserves Hours","code":"firestone"},"delivery_locations":[{"label":"Firestone
        Library","address":"One Washington Rd. Princeton, NJ 08544","phone_number":"609-258-1470","contact_email":"fstcirc@princeton.edu","gfa_pickup":"PA","staff_only":false,"pickup_location":true,"digital_location":true}]}'
  recorded_at: Tue, 18 Jul 2017 05:11:10 GMT
recorded_with: VCR 3.0.3
