---
http_interactions:
- request:
    method: get
    uri: https://bibdata-alma-staging.princeton.edu/locations/delivery_locations.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d2e6e7b80f2d594008773c8e784d476f"
    body:
      encoding: UTF-8
      string: '[{"label":"Plasma Physics Library","address":"Forrestal Campus Princeton,
        NJ 08544","phone_number":"609-243-3565","contact_email":"ppllib@princeton.edu","gfa_pickup":"PQ","staff_only":false,"pickup_location":true,"digital_location":true,"url":"https://bibdata-alma-staging.princeton.edu/locations/delivery_locations/126.json","library":{"label":"Harold
        P. Furth Plasma Physics Library","code":"plasma","order":0}},{"label":"Architecture
        Library","address":"School of Architecture Building, Second Floor Princeton,
        NJ 08544","phone_number":"609-258-3256","contact_email":"ues@princeton.edu","gfa_pickup":"PW","staff_only":false,"pickup_location":true,"digital_location":true,"url":"https://bibdata-alma-staging.princeton.edu/locations/delivery_locations/127.json","library":{"label":"Architecture
        Library","code":"arch","order":0}},{"label":"East Asian Library","address":"Frist
        [...]
