---
http_interactions:
- request:
    method: get
    uri: https://bibdata.princeton.edu/locations/holding_locations/scsbcul.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"21b2d03545516ab6b2a8ef97b390917c"
      Status:
      - 200 OK
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"label":"","code":"scsbcul","aeon_location":false,"recap_electronic_delivery_location":true,"open":false,"requestable":true,"always_requestable":false,"circulates":true,"library":{"label":"ReCAP","code":"recap","order":3},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Firestone
        Circulation Desk","address":"One Washington Rd. Princeton, NJ 08544","phone_number":"609
        258-2345","contact_email":"fstcirc@princton.edu","gfa_pickup":"QX","staff_only":false,"pickup_location":false,"digital_location":false}]}'
  recorded_at: Fri, 08 Dec 2017 20:29:15 GMT
- request:
    method: get
    uri: https://bibdata.princeton.edu/locations/delivery_locations.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8855abf54dd98657029bf6c530bb34c7"
    body:
      encoding: UTF-8
      string: '[{"label":"Plasma Physics Library","address":"Forrestal Campus Princeton,
        NJ 08544","phone_number":"609-243-3565","contact_email":"ppllib@princeton.edu","gfa_pickup":"PQ","staff_only":false,"pickup_location":true,"digital_location":true,"url":"https://bibdata.princeton.edu/locations/delivery_locations/1.json","library":{"label":"Harold
        P. Furth Plasma Physics Library","code":"plasma","order":2}},{"label":"Technical
        Services 693","address":"693 Alexander Rd. Princeton, NJ 08544","phone_number":"609-258-1470","contact_email":"catalogn@princeton.edu","gfa_pickup":"QT","staff_only":true,"pickup_location":false,"digital_location":false,"url":"https://bibdata.princeton.edu/locations/delivery_locations/2.json","library":{"la[...]
