---
http_interactions:
- request:
    method: get
    uri: https://bibdata-alma-staging.princeton.edu/locations/delivery_locations.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"d2e6e7b80f2d594008773c8e784d476f"
    body:
      encoding: UTF-8
      string: '[{"label":"Plasma Physics Library","address":"Forrestal Campus Princeton,
        NJ 08544","phone_number":"609-243-3565","contact_email":"ppllib@princeton.edu","gfa_pickup":"PQ","staff_only":false,"pickup_location":true,"digital_location":true,"url":"https://bibdata-alma-staging.princeton.edu/locations/delivery_locations/126.json","library":{"label":"Harold
        P. Furth Plasma Physics Library","code":"plasma","order":0}},{"label":"Architecture
        Library","address":"School of Architecture Building, Second Floor Princeton,
        NJ 08544","phone_number":"609-258-3256","contact_email":"ues@princeton.edu","gfa_pickup":"PW","staff_only":false,"pickup_location":true,"digital_location":true,"url":"https://bibdata-alma-staging.princeton.edu/locations/delivery_locations/127.json","library":{"label":"Architecture
        Library","code":"arch","order":0}},{"label":"East Asian Library","address":"Frist
        [...]
- request:
    method: get
    uri: https://bibdata.princeton.edu/locations/holding_locations/scsbcul.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"21b2d03545516ab6b2a8ef97b390917c"
    body:
      encoding: UTF-8
      string: '{"label":"","code":"scsbcul","aeon_location":false,"recap_electronic_delivery_location":true,"open":false,"requestable":true,"always_requestable":false,"circulates":true,"library":{"label":"ReCAP","code":"recap","order":3},"holding_library":null,"hours_location":null,"delivery_locations":[{"label":"Firestone
        Circulation Desk","address":"One Washington Rd. Princeton, NJ 08544","phone_number":"609
        258-2345","contact_email":"fstcirc@princton.edu","gfa_pickup":"QX","staff_only":false,"pickup_location":false,"digital_location":false}]}'
  recorded_at: Mon, 24 May 2021 17:35:50 GMT
- request:
    method: get
    uri: https://bibdata.princeton.edu/bibliographic/SCSB-2635660/holdings//availability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <title>The page you were looking for doesn't exist (404)</title>
          <meta name="viewport" content="width=device-width,initial-scale=1">
          <style>
          body {
            background-color: #EFEFEF;
            color: #2E2F30;
            text-align: center;
            font-family: arial, sans-serif;
            margin: 0;
          }

          div.dialog {
            width: 95%;
            max-width: 33em;
            margin: 4em auto 0;
          }

          div.dialog > div {
            border: 1px solid #CCC;
            border-right-color: #999;
            border-left-color: #999;
            border-bottom-color: #BBB;
            border-top: #B00100 solid 4px;
            border-top-left-radius: 9px;
            border-top-right-radius: 9px;
            background-color: white;
            padding: 7px 12% 0;
            box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
          }

          h1 {
            font-size: 100%;
            color: #730E15;
            line-height: 1.5em;
          }

          div.dialog > p {
            margin: 0 0 1em;
            padding: 1em;
            background-color: #F7F7F7;
            border: 1px solid #CCC;
            border-right-color: #999;
            border-left-color: #999;
            border-bottom-color: #999;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border-top-color: #DADADA;
            color: #666;
            box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
          }
          </style>
        </head>

        <body>
          <!-- This file lives in public/404.html -->
          <div class="dialog">
            <div>
              <h1>The page you were looking for doesn't exist.</h1>
              <p>You may have mistyped the address or the page may have moved.</p>
            </div>
            <p>If you are the application owner check the logs for more information.</p>
          </div>
        </body>
        </html>
  recorded_at: Mon, 24 May 2021 17:35:50 GMT
- request:
    method: get
    uri: https://bibdata.princeton.edu/locations/delivery_locations.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"49126c9078ca8a5a0b0ac6341057559c"
    body:
      encoding: UTF-8
      string: '[{"label":"Plasma Physics Library","address":"Forrestal Campus Princeto[...]
- request:
    method: get
    uri: https://bibdata-alma-staging.princeton.edu/locations/holding_locations/scsbcul.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"9bb9d008a767f4828d78445deee4050f"
    body:
      encoding: UTF-8
      string: '{"label":"","code":"scsbcul","aeon_location":false,"recap_electronic_delivery_location":false,"open":true,"requestable":true,"always_requestable":false,"circulates":true,"remote_storage":null,"library":{"label":"ReCAP","code":"recap","order":0},"holding_library":null,"hours_location":null,"delivery_locations":[]}'
  recorded_at: Mon, 24 May 2021 18:33:31 GMT
- request:
    method: get
    uri: https://bibdata-alma-staging.princeton.edu/bibliographic/SCSB-2635660/holdings//availability.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE html>
        <html>
        <head>
          <title>The page you we[...]
