/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

div.go-back-link {
  margin-top: 10px;
}

.request--edd {
  display: none;
}

.table-responsive  {
  overflow-x: visible;
  overflow-y: visible;
}

.recall-pickup {
  display: none;
  margin-top: 10px;
}

#returnToRecordLink {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-sub-text {
  display: block;
  font-size: 0.85em;
}

.or-divider {
  background-color: #fff;
  color: #737373;
  font-size: 1.1em;
  margin: -32px auto 10px;
  text-align: center;
  width: 10ch;
}
