<select name="requestable[][type]" class="request-options">
  <option value="">Select a Request Method</option>
  <% if requestable.item['enum'].nil? %>
    <option value="bd">Borrow Direct (2-4 business days)</option>
  <% end %>
  <option value="ill">Interlibrary Loan (1-2 weeks)</option>
  <option value="recall">Recall (several weeks)</option>
</select>
<br/>
<select name="requestable[][pickup]" id="requestable__pickup" class="recall-pickup">
  <option value=""><%= I18n.t("requests.default.pickup_placeholder") %></option>
</select>
