<div class="flash_messages">
  <% [:success, :notice, :error, :alert].each do |type| %>
    <%- alert_class = case type
      when :success then "flash-success"
      when :notice  then "flash-notice"
      when :alert   then "flash-alert"
      when :error   then "flash-error"
      else "flash-#{type}"
      end
    -%>
    <% if flash[type] %>
      <div class="alert <%=alert_class %>"><%= flash[type] %>
         <!--
         <a class="close" data-dismiss="alert" href="#">&times;</a>
         -->
      </div>
    <% end %>
  <% end %>
</div>
