        <div class="delivery-option">Physical Item Delivery</div>
        <%= show_pickup_service_options requestable, mfhd %>
        <%= hidden_service_options requestable %>
        <%= pickup_choices requestable, default_pickups %>
