      <div>
        <%= hidden_service_options requestable %>
        <%= radio_button_tag "requestable[][delivery_mode_#{requestable.item[:id]}]", 'print', selected, data: { target: "#fields-print__#{requestable.item['id']}" }, 'aria-controls' => "fields-print__#{requestable.item['id']}", class: 'control-label' %>
        <%= label_tag "requestable[][delivery_mode_#{requestable.item[:id]}_print]", I18n.t("requests.recap.delivery_label"), class: 'control-label', id: "requestable__type_recap_label_#{requestable.item[:id]}" %>
        <%= pickup_choices requestable, default_pickups %>
      </div>
