    <td class='request--select'>
      <%= hidden_field_tag 'requestable[][selected]', false %>
      <%= item_checkbox requestable, single_item_request %>
      <%= hidden_fields_item requestable %>
    </td>
