    <td class='request--select'>
      <%= hidden_field_tag 'requestable[][selected]', false %>
      <%= item_checkbox requestable_list, requestable %>
      <%= hidden_fields_item requestable %>
    </td>
