<span class="Z3988" title="<%= @request.openurl_ctx_kev %>"></span>
<% if @user.guest && @request.borrow_direct_eligible? %>
  <div class='alert alert-warning'>
    <%= I18n.t("requests.account.pul_user_service_msg") %>
  </div>
<% else %>
  <% if @request.borrow_direct_eligible? || @request.ill_eligible? %>
    <script type="text/javascript">
    jQuery(document).ready(function(){
      jQuery('.table-responsive h2').hide();
      jQuery('table.request--available_items').hide();
      jQuery('.submit--request').hide();
      var ctx = $("span.Z3988").attr("title");
      var updater = new Umlaut.HtmlUpdater('<%= Requests.config[:umlaut_base] %>', ctx);
      updater.add_section_target({
        umlaut_section_id: "borrow_direct",
        selector:"#borrow_direct",
        before_update: function(html, count) {
          //hide the section heading on the snippet, we don't want it
          if(count == 0) {
            $(html).find(".section_heading h3").hide();
          }
          return (count != 0);
        },
        after_update: function(html, count) {
          if($(html).find(".bd-api-unavailable").length) {
            jQuery('.umlaut-services').hide();
            jQuery('table.request--available_items').show();
            jQuery('.submit--request').show();
          }
        }
      });
      updater.update();
    });
    </script>
  <% end %>
  <div class='umlaut-services'>
  <% if @request.borrow_direct_eligible? %>
    <div id="borrow_direct" class='availability--panel availability_borrow-direct availability--panel_umlaut'>
      <p>
        <img style="display:inline-block" src="/assets/requests/spinner.gif"/>
        Checking BorrowDirect availablility for you.
      </p>
    </div>
  <% end %>
  </div>
<% end %>
